@font-face {
font-family: 'SF TransRobotics Extended Regular';
font-style: normal;
font-weight: normal;
src: local('SF TransRobotics Extended Regular'), url('SFTransRoboticsExtended.woff') format('woff');
}

h1 {
	font-family: 'SF TransRobotics Extended Regular';
	color: white;
	font-weight: 200;
}